@model Pooler.Domain.Entities.PoolGame

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="row justify-content-sm-left">
        <div class="col">
            <h4>Game Details</h4>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col">
            <h6>@Html.DisplayFor(m => m.PlayerOne.Name)</h6>
        </div>
        <div class="col">
            Verses
        </div>
        <div class="col">
            <h6>@Html.DisplayFor(m => m.PlayerTwo.Name)</h6>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col">
                    @Html.DisplayNameFor(model => model.gameDetails.gameType)
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.gameDetails.gameType)
                </dd>
                <dt class="col">
                    @Html.DisplayNameFor(m => m.gameDetails.InningCount)
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.gameDetails.InningCount)
                </dd>
                <dt class="col">
                    @Html.DisplayNameFor(model => model.gameStart)
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.gameStart)
                </dd>
                <dt class="col">
                    @Html.DisplayNameFor(model => model.gameEnd)
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.gameEnd)
                </dd>
                <dt class="col">
                    @Html.DisplayNameFor(model => model.Winner)
                </dt>
                <dd class="col">
                    @Html.DisplayFor(model => model.Winner.Name)
                </dd>
            </dl>
        </div>
    </div>
</div>

<hr />

<div class="parent-container d-flex">
    <div class="container">
        <div class="row">
            <h4>Player 1</h4>
            <div class="col">
                <div class="col">
                    <dl class="col">
                        <dt class="row">
                            @Html.DisplayNameFor(m => m.gameDetails.P1_Defensive)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.gameDetails.P1_Defensive)
                        </dd>
                        <dt class="row">
                            @Html.DisplayNameFor(m => m.gameDetails.P1_BNR)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.gameDetails.P1_BNR)
                        </dd>
                        <dt class="row">
                            @Html.DisplayNameFor(m => m.gameDetails.P1_WOS)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.gameDetails.P1_WOS)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h4>Player 2</h4>
            <div class="col">
                <div class="col">
                    <dl class="col">
                        <dt class="row">
                            @Html.DisplayNameFor(m => m.gameDetails.P2_Defensive)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.gameDetails.P2_Defensive)
                        </dd>
                        <dt class="row">
                            @Html.DisplayNameFor(m => m.gameDetails.P2_BNR)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.gameDetails.P2_BNR)
                        </dd>
                        <dt class="row">
                            @Html.DisplayNameFor(m => m.gameDetails.P2_WOS)
                        </dt>
                        <dd class="row">
                            @Html.DisplayFor(model => model.gameDetails.P2_WOS)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
